.navbar {
  background-color: #FAE1DD;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  transition: .3s ease width;
  position: fixed;
  width: 100%;
}

.logo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-links {
  font-family: 'Kurale', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 30%;
  transition: .3s ease width;
}

.nav-links a {
  text-decoration: none;
  color: #22223B;
}

.nav-links a:hover {
  transform: translateY(-3px);
  text-shadow: 0 10px 20px rgba(207, 156, 241, 0.5);
}

.nav-links a:active {
  transform: translateY(-1px);
  text-shadow: 0 5px 10px rgba(207, 156, 241, 0.5);
}

@media (max-width: 800px) {
  .logo {
    width: 30%;
  }

  .nav-links {
    font-size: .75rem;
    width: 40%;
  }
}

@media (max-width: 400px) {
  .nav-links {
    width: 50%;
  }
}