ul {
  text-align: left;
}

li {
  line-height: 2rem;
}

.resumeContainer {
  padding: 50px;
}

.highlights {
  color: #802ACB;
}

.workExperience {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.companyCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.timeWorked {
  margin-top: 10px;
}

.carousel {
  position: block;
}

.carousel-inner {
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-indicators {
  filter: invert(100%);
  bottom: -50px !important;
}

.carousel-caption {
  color: #000 !important;
}

.carousel-control-next, .carousel-control-prev {
  filter: invert(100%);
}

.item {
  display: block;
  clear: both;
  counter-increment: list;
  padding-bottom: 4rem;
  font-size: 1.5rem;
  line-height: 1.375;
  position: relative;
}

.item:before {
  font: bold 2.25rem 'Kurale', serif;
  content: counter(list);
  width: 5rem;
  height: 5rem;
  margin: 0 1.5rem 0.75rem 0;
  color: #fdfdfd;
  background: linear-gradient(to bottom right, #802ACB 25%, #FFEDBC);
  text-shadow: 0 0 2px #802ACB;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  shape-outside: ellipse();
  z-index: 1;
}

.item:after {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #802ACB;
  z-index: -1;
  border-top-left-radius: 3px;
}

.headline {
  padding: 0rem 0 0 0;
  margin: 0 0 1rem 0;
  font: normal 2rem var(--font-head);
}

@media (max-width: 1024px) {
  .companyCarousel {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .carousel-item img {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .carousel-item img {
    width: 150px;
  }

  .resumeContainer {
    padding: 0;
  }

  .resumeContainer h1 {
    font-size: 1rem;
  }

  .timeWorked {
    font-size: 1rem;
  }

  ul {
    padding-inline-start: 20px;
  }

  .item {
    font-size: .875rem;
    padding-bottom: 2rem;
  }

  .item:before {
    width: 3rem;
    height: 3rem;
  }

  .item:after {
    width: 1.5rem;
    height: 1.5rem;
  }
}