.skContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}

#skills {
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
}

.skillContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.skill {
  margin-top: 20px;
  margin-bottom: 20px;
}

.react .progress-bar,
.next .progress-bar,
.javascript .progress-bar,
.sql .progress-bar,
.reactNative .progress-bar {
  background-color: #D9CAF8;
  color: #777;
}

.contentful .progress-bar,
.storybook .progress-bar,
.see-sharp .progress-bar,
.python .progress-bar,
.mongo .progress-bar
{
  background-color: #A5DEFF;
  color: #777;
}

.legend {
  text-align: center;
}

@media (max-width: 500px) {
  .skContainer {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #skills {
    font-size: 2rem;
  }

  .skillContainer {
    width: 90%;
  }

  .legend h5 {
    font-size: 1.1rem;
  }

  .skill h4 {
    font-size: 1rem;
  }
}