body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kurale', serif;
}

a:hover {
  color: #802ACB !important;
  font-weight: 800 !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

hr {
  width: 40%;
  border-width: 3px !important;
  border-color: #827CCD80 !important;
}

.logo-image {
  display: block;
  height: 70vh;
  width: 50%;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  position: relative;
  border: none;
  text-decoration: none;
  padding: .5em;
  margin: .5em;
  font-weight: bold;
  transition: all .5s;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border: none;
  transition: all .5s;
}

.button:after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border: none;
  background: #fff;
  transition: all .5s;
}

.button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, .75);
  text-decoration: none;
}

.button:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}

@media (max-width: 1024px) {
  .logo-image {
    width: 80%;
    height: 80vh;
    padding: 20px 0;
  }
}

@media (max-width: 500px) {
  .logo-image {
    width: 90%;
  }
}
