h2 {
  font-family: 'Kurale', serif;
}

.slide {
  position: relative;
  top: -200px;
  animation: slideDown 1.5s linear forwards;
}

.slide-image {
  display: block;
  height: 90vh;
  width: 100%;
}

@keyframes slideDown {
  from {
    top: -200px;
  }
  to {
    top: 0;
  }
}